#titlebar {
    position: absolute;
    width: 100%;
}

.banner {
    min-height: 380px;
    line-height: 0;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 36px;
}

a {
    color: #3D5AFE;
}

@media only screen and (max-width: 992px) {
    #titlebar>.valign-wrapper>a {
        padding-left: 10px;
        padding-right: 18px;
        text-align: center;
    }
    .banner {
        min-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    #titlebar>.valign-wrapper>a {
        padding-left: 7px;
        padding-right: 14px;
        text-align: center;
    }
    .banner {
        min-height: 150px;
    }
}