
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #FF9F3F !default;
$color-secondary: #75685F !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
