.header {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	text-align: center;
	padding-top: 4.0rem;
	background-image: url(../img/code.jpg);
	background-size: cover;
	h1 {
		font-size: 6.4rem;
		color: $color-initial;
		padding-left: 2.0rem;
		padding-right: 2.0rem;
	}
	h2 {
		background-color: $color-initial;
		color: $color-secondary;
		padding: 1.0rem 2.0rem;
	}
}
