body, html {
	/* Chrome 10+, Saf5.1+ */ /* FF3.6+ */ /* IE10 */ /* Opera 11.10+ */
	background:         -webkit-linear-gradient(left, #f46b45 10%, #eea849 90%);
	background:         -o-linear-gradient(left, #f46b45 10%, #eea849 90%);
	background:         linear-gradient(to right, #f46b45 10%, #eea849 90%); /* W3C */
	background-size: 400% 400%;
	text-align: center;
	padding: 0;
	margin: 0;
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	color: #ecf0f1;
	stroke: #ecf0f1;
	fill: #ecf0f1;
	
	-webkit-animation: bgAnim 15s ease infinite;
	-moz-animation: bgAnim 15s ease infinite;
	-o-animation: bgAnim 15s ease infinite;
	animation: bgAnim 15s ease infinite;
}

b {
	font-weight: 500;
}

.title {
	font-weight: 500;
	font-size: 4em;
}

.larger {
	font-size: 1.75em;
}

#logo {
	margin-top: 48px;
	margin-bottom: 32px;
}

@-webkit-keyframes bgAnim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes bgAnim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes bgAnim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes bgAnim { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}