/* Coolors Exported Palette */

$hue: 201;
$sat: 74;

$color1: #ecf0f1; // Text Color/Popout Color
$color2: #bdc3c7; // Darkened $color1
$color3: hsl($hue, $sat, 49); // Base Color
$color4: hsl($hue, $sat, 43); // Darkened $color3
$color5: hsl($hue, $sat, 34); // Darkened $color4
$color6: invert($color1); // The inverse of $color1