.pokelist {
	list-style: none;
	overflow-y: hidden;
}

.pokelist li {
	display: inline-block;
	padding: 6px;
	padding-bottom: 0px;
	max-height: 122px;
	width: 96px;
}

.pokelist > li > img {
	display: inline-block;
/*	display: block;*/
	margin-left: auto;
	margin-right: auto;
/*	vertical-align: bottom;*/
}

.pokelist > li > div {
	display: inline-block;
/*	display: block;*/
/*	vertical-align: bottom;*/
}

.translucent {
	opacity: 0.5;
}

#input-section {
	flex: 0 0 80%;
	max-width: 80%;
}

#submit-section {
	flex: 0 0 20%;
	max-width: 20%;
}

#result {
	max-height: 4.0rem;
}

.current {
	position: fixed;
	top: 0;
	left: 0;
	height: 116px;
	width: 96px;
	background-color: #f2f2f2;
	z-index: -1;
}

@media (max-width: 40.0rem) {
	#input-section {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#submit-section {
		flex: 0 0 100%;
		max-width: 100%;
	}
}